.sidebar {
  position: relative;
  overflow: hidden;

  max-width: 40%;
  min-width: 200px;
  width: var(--sidebar-width, 300px);

  background-color: var(--dotoriham-adaptive-color-gray1);
  border-right: 1px solid var(--dotoriham-adaptive-color-gray2);

  [data-theme='dark'] & {
    background-color: var(--dotoriham-adaptive-color-dark1);
  }

  .resize-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: col-resize;
    width: 4px;
    right: -3px;
    user-select: none;
    opacity: 0;
    background-color: var(--dotoriham-color-green7);
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}
