.coverage
coverage
.nyc_output
/.vscode-test/**
.pnp.*
.yarn
# Unignore config files like .prettierrc.js, because they're ignored by default
!.*rc.js
test/e2e/workspace/*/**/*
.eslintignore
.gitignore
.prettierignore
.ebignore
.history
/.circleci/
/assets/
**/.history
**/node_modules
**/dist
**/out
**/.nuxt
**/.next
**/_nuxt
.next
.nuxt
.github/PULL_REQUEST_TEMPLATE.md


