.block {
  margin: 12px 10px 8px;
  padding: 8px 6px;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background-color: var(--dotoriham-adaptive-color-gray3);
  }

  [data-theme='dark'] & {
    &:hover {
      background-color: var(--dotoriham-adaptive-color-dark3);
    }
  }
}
