.root {
  --button-height-xs: 30px;
  --button-height-sm: 36px;
  --button-height-md: 42px;
  --button-height-lg: 50px;
  --button-height-xl: 60px;

  --button-height-compact-xs: 22px;
  --button-height-compact-sm: 26px;
  --button-height-compact-md: 30px;
  --button-height-compact-lg: 34px;
  --button-height-compact-xl: 40px;

  --button-padding-x-xs: 14px;
  --button-padding-x-sm: 18px;
  --button-padding-x-md: 22px;
  --button-padding-x-lg: 26px;
  --button-padding-x-xl: 32px;

  --button-padding-x-compact-xs: 7px;
  --button-padding-x-compact-sm: 8px;
  --button-padding-x-compact-md: 10px;
  --button-padding-x-compact-lg: 12px;
  --button-padding-x-compact-xl: 14px;

  --button-height: var(--button-height-sm);
  --button-padding-x: var(--button-padding-x-sm);
  --button-color: var(--dotoriham-color-white);
  --button-font-size: var(--dotoriham-font-size-sm);

  user-select: none;
  font-weight: 600;
  position: relative;
  line-height: 1;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;

  width: var(--_button-width, auto);
  cursor: var(--_button-cursor, pointer);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--button-radius, var(--dotoriham-radius-default));
  font-size: var(--button-font-size);
  background: var(
    --_button-bg,
    var(--button-bg, var(--dotoriham-primary-color-filled))
  );
  border: var(--_button-bd, var(--button-bd, 1px solid transparent));
  color: var(
    --_button-color,
    var(--button-color, var(--dotoriham-color-white))
  );
  height: var(--button-height, var(--button-height-sm));
  padding-left: var(
    --_button-padding-left,
    var(--button-padding-x, var(--button-padding-x-sm))
  );
  padding-right: var(
    --_button-padding-right,
    var(--button-padding-x, var(--button-padding-x-sm))
  );

  &[data-full] {
    --_button-display: block;
    --_button-width: 100%;
  }

  &:hover {
    --_button-bg: var(
      --button-hover,
      var(--dotoriham-primary-color-filled-hover)
    );
  }

  &:active {
    transform: translateY(1px);
  }
}
