.root {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #963cbd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dotoriham-adaptive-color-white);
}
