.root {
  --flex-direction: row;
  --flex-wrap: nowrap;
  --flex-gap: 0;
  --flex-row-gap: 0;
  --flex-column-gap: 0;
  --flex-align: stretch;
  --flex-justify: flex-start;

  display: flex;
  flex-direction: var(--flex-direction);
  flex-wrap: var(--flex-wrap);
  gap: var(--flex-gap);
  row-gap: var(--flex-row-gap);
  column-gap: var(--flex-column-gap);
  align-items: var(--flex-align);
  justify-content: var(--flex-justify);
}
