/** ssurround */
.ssurround_20_700 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  font-family: Cafe24Ssurround;
}

/** system */
.system_16_500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
