/** ssurround */
.ssurround_20_700 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  font-family: Cafe24Ssurround;
}

/** system */
.system_16_400 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.1px;
}

.system_16_500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.system_14_400 {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.system_14_500 {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.system_12_400 {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.system_12_500 {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}
