@import '../../styles/mixins.css';

.root {
  position: relative;

  --input-height-xs: 30px;
  --input-height-sm: 36px;
  --input-height-md: 42px;
  --input-height-lg: 50px;
  --input-height-xl: 60px;

  --input-padding-y-xs: 5px;
  --input-padding-y-sm: 6px;
  --input-padding-y-md: 8px;
  --input-padding-y-lg: 10px;
  --input-padding-y-xl: 13px;

  --input-height: var(--input-height-sm);
  --input-padding: calc(var(--input-height) / 3);
  --input-padding-y: var(--input-padding-y-sm);
  --input-font-size: var(--dotoriham-font-size-sm);
  --input-color: var(--dotoriham-color-text);
  --input-border-radius: var(--dotoriham-radius-default);

  @mixin light {
    --input-disabled-bg: var(--dotoriham-color-gray1);
    --input-disabled-color: var(--dotoriham-color-gray6);

    &[data-variant='default'] {
      --input-bd: var(--dotoriham-color-gray4);
      --input-bg: var(--dotoriham-color-white);
      --input-bd-focus: var(--dotoriham-primary-color-filled);
    }

    &[data-variant='filled'] {
      --input-bd: transparent;
      --input-bg: var(--dotoriham-color-gray1);
      --input-bd-focus: var(--dotoriham-primary-color-filled);
    }

    &[data-variant='text'] {
      --input-bd: transparent;
      --input-bg: transparent;
      --input-bd-focus: transparent;
    }
  }

  @mixin dark {
    --input-disabled-bg: var(--dotoriham-color-dark6);
    --input-disabled-color: var(--dotoriham-color-dark2);

    &[data-variant='default'] {
      --input-bd: var(--dotoriham-color-dark7);
      --input-bg: var(--dotoriham-color-dark8);
      --input-bd-focus: var(--dotoriham-primary-color-filled);
    }

    &[data-variant='filled'] {
      --input-bd: transparent;
      --input-bg: var(--dotoriham-color-dark7);
      --input-bd-focus: var(--dotoriham-primary-color-filled);
    }

    &[data-variant='text'] {
      --input-bd: transparent;
      --input-bg: transparent;
      --input-bd-focus: transparent;
    }
  }

  &:focus,
  &:focus-within {
    outline: none;
    border: 1px solid var(--input-bd-focus);
  }

  height: var(--input-height);
  min-height: var(--input-height);
  border: 1px solid var(--input-bd);
  background-color: var(--input-bg);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--input-padding-y);
  padding-bottom: var(--input-padding-y);
  padding-left: var(--input-padding);
  padding-right: var(--input-padding);
  border-radius: var(--input-border-radius);
  font-size: var(--input-font-size);
  color: var(--input-color);

  transition: border-color 500ms ease;

  &[data-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: var(--input-disabled-bg);
    color: var(--input-disabled-color);
  }

  input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
  }

  .left-component {
    padding-right: var(--input-padding);
  }

  .right-component {
    padding-left: var(--input-padding);
  }
}
