@import '../../styles/mixins.css';

.root {
  position: relative;

  --input-height-xs: 30px;
  --input-height-sm: 36px;
  --input-height-md: 42px;
  --input-height-lg: 50px;
  --input-height-xl: 60px;

  --input-padding-y-xs: 5px;
  --input-padding-y-sm: 6px;
  --input-padding-y-md: 8px;
  --input-padding-y-lg: 10px;
  --input-padding-y-xl: 13px;

  @mixin light {
    --_input-disabled-bg: var(--dotoriham-color-gray1);
    --_input-disabled-color: var(--dotoriham-color-gray6);

    &[data-variant='default'] {
      --_input-bd: var(--dotoriham-color-gray4);
      --_input-bg: var(--dotoriham-color-white);
      --_input-bd-focus: var(--dotoriham-primary-color-filled);
    }

    &[data-variant='filled'] {
      --_input-bd: transparent;
      --_input-bg: var(--dotoriham-color-gray1);
      --_input-bd-focus: var(--dotoriham-primary-color-filled);
    }

    &[data-variant='text'] {
      --_input-bd: transparent;
      --_input-bg: transparent;
      --_input-bd-focus: transparent;
    }
  }

  @mixin dark {
    --_input-disabled-bg: var(--dotoriham-color-dark6);
    --_input-disabled-color: var(--dotoriham-color-dark2);

    &[data-variant='default'] {
      --_input-bd: var(--dotoriham-color-dark4);
      --_input-bg: var(--dotoriham-color-dark6);
      --_input-bd-focus: var(--dotoriham-primary-color-filled);
    }

    &[data-variant='filled'] {
      --_input-bd: transparent;
      --_input-bg: var(--dotoriham-color-dark5);
      --_input-bd-focus: var(--dotoriham-primary-color-filled);
    }

    &[data-variant='text'] {
      --_input-bd: transparent;
      --_input-bg: transparent;
      --_input-bd-focus: transparent;
    }
  }

  --input-height: var(--input-height-sm);
  --input-padding-y: var(--input-padding-y-sm);

  height: var(--input-height);
  min-height: var(--_input-height);
  border: 1px solid var(--_input-bd);
  background-color: var(--_input-bg);

  padding-top: var(--input-padding-y, 0px);
  padding-bottom: var(--input-padding-y, 0px);

  &:focus,
  &:focus-within {
    outline: none;
    --_input-bd: var(--_input-bd-focus);
  }
}
